<h1>Master list of MSD Teachers</h1>
<p>Find me in app/views/teachers/index.html.erb</p>
<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_teachers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
  <p>
  
</div>
<%= flash[:notice] %>
<div class="teacher">
  <div class = "teacher body">
    <table class = "table table-hover">
      <thead>
        <tr> 
         <th>ID</th>
         <th>Name</th>
          <th>School</th>
          <th>Display Name</th>
            <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.id %></td>
            <td><%= teacher.name %></td>
            <td><%= teacher.school %></td>
            <td><%= teacher.displayname %></td>
            <td><%= teacher.grade %></td>
            <td> <%= link_to 'Show', teacher %></td>
            <td>  <%= link_to 'Edit', edit_teacher_path(teacher) %></td>
            <td>  <%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

